@@include('../../inc-header.html', {"title": "商品管理"})
@@include('../../top-nav.html')
@@include('../../left-nav.html')
<main class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-th-list"></i> 商品管理</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active"><a href="#">商品管理</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="row" style="margin-bottom:20px ">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <input type="text" class="form-control" id="searchCont" autocomplete="off" style="width:60%">
                            <button class="btn btn-secondary" type="button" id="selectsearchlabel">商品ID</button>
                            <div class="btn-group" role="group">
                                <button class="btn btn-primary dropdown-toggle" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item searchlabel" href="#">商品ID</a>
                                    <a class="dropdown-item searchlabel" href="#">淘宝商品ID</a>
                                    <a class="dropdown-item searchlabel" href="#">标题</a>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group" style="margin-left:1%">
                            <div id="search" class="btn btn-primary" style="outline:none">提交搜索</div>
                        </div>
                        <div class="btn-group" style="float:right">
                            <button id="addModal" class="btn btn-primary" style="outline:none;margin-left: 3px">新增</button>
                        </div>
                        <div class="btn-group" style="float:right;margin-right: 5px">
                            <button id="batchImport" class="btn btn-primary" style="outline:none;margin-left: 3px">批量导入</button>
                        </div>
                    </div>
                </div>
                <div class="tile-body">
                    <div class="table-responsive" style="min-height: 300px">
                        <table class="table table-hover table-bordered" id="sampleTable"></table>
                        <div id="visaPagination" class="d-flex justify-content-end">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- 列表模板 -->
<script id="batchImportModal" type="text/html">
    <form id="importExcelForm" disabled="true">
        <div class="form-row" style="margin-bottom: 15px">
            <div class="col-7">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">来源</span>
                    </div>
                    <select name="source" class="form-control">
                        <option value="">请选择</option>
                        <!--<option value="1">京东</option>-->
                        <option value="2" selected>淘宝</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row uploadFileBatchDiv" style="margin-bottom: 15px">
            <div class="col-7">
                <div class="input-group">
                    <span style="margin-top:6px;margin-right: 10px">上传文件</span>
                    <label class="file-label btn btn-primary mb-0 mr-2"><input type="file" name="file" class="uploadFileBatch d-none">选择文件</label>
                    <!--<button type="button" class="btn btn-default avatarUploadBatch" disabled>上传文件</button>-->
                </div>
            </div>
        </div>
        <div class="form-row" style="margin-bottom: 15px">
            <div class="col-12">
                <div class="input-group">
                    <h6 class="imgUrl"></h6>
                </div>
            </div>
        </div>
    </form>
</script>
<!-- 列表模板 -->
<script id="visaListItem" type="text/html">
    <thead>
    <tr>
        <th>ID</th>
        <th style="width:8%;word-wrap: break-word;word-break:break-all;">标题</th>
        <th style="width:8%;word-wrap: break-word;word-break:break-all;">店铺</th>
        <th style="width:8%;word-wrap: break-word;word-break:break-all;">价格</th>
        <!--<th>封面图</th>-->
        <th class="em-min-7">
            <div class="dropdown">
                <span class="dropdown-toggle" id="dropAnchor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <%= anchorText %>
                </span>
                <div class="dropdown-menu" aria-labelledby="dropAnchor" id="dropAnchorOptions">
                    <a class="dropdown-item" href="javascript:" data-id="">所有</a>
                    <% for(var k=0;k < anchorArr.length;k++){ %>
                    <a class="dropdown-item" href="javascript:" data-id="<%= anchorArr[k].id %>"><%= anchorArr[k].name %></a>
                    <% } %>
                </div>
            </div>
        </th>
        <th class="em-min-8">
            <div>带货日期</div>
            <input type="text" autocomplete="off" class="em-7 py-0 px-1" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" placeholder="请选择日期..." id="date">
        </th>
        <th class="em-min-7">
            <div class="dropdown">
                <span class="dropdown-toggle" id="dropCategory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <%= categoryText %>
                </span>
                <div class="dropdown-menu" aria-labelledby="dropCategory" id="dropCategoryOptions">
                    <a class="dropdown-item" href="javascript:" data-id="">所有</a>
                    <% for(var j=0;j < categoryArr.length;j++){ %>
                    <a class="dropdown-item" href="javascript:" data-id="<%= categoryArr[j].id %>"><%= categoryArr[j].title %></a>
                    <% } %>
                </div>
            </div>
        </th>
        <th class="em-min-7">
            <div class="dropdown">
                <span class="dropdown-toggle" id="dropSource" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <%= sourceText %>
                </span>
                <div class="dropdown-menu" aria-labelledby="dropdownVisaStatus" id="dropSourceOptions">
                    <a class="dropdown-item" href="javascript:" data-id="">所有</a>
                    <a class="dropdown-item" href="javascript:" data-id="1">京东</a>
                    <a class="dropdown-item" href="javascript:" data-id="2">淘宝</a>
                </div>
            </div>
        </th>
        <th style="width:9%;word-wrap: break-word;word-break:break-all;">淘口令</th>
        <th class="em-min-7">
            <div class="dropdown">
                <span class="dropdown-toggle" id="dropStatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <%= statusText %>
                </span>
                <div class="dropdown-menu" aria-labelledby="dropdownVisaStatus" id="dropStatusOptions">
                    <a class="dropdown-item" href="javascript:" data-id="">所有</a>
                    <a class="dropdown-item" href="javascript:" data-id="1">上架</a>
                    <a class="dropdown-item" href="javascript:" data-id="2">下架</a>
                </div>
            </div>
        </th>
        <th class="em-min-7">
            <div class="dropdown">
                <span class="dropdown-toggle" id="dropSyncWay" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <%= syncWayText %>
                </span>
                <div class="dropdown-menu" aria-labelledby="dropSyncWay" id="dropSyncWayOptions">
                    <a class="dropdown-item" href="javascript:" data-id="">所有</a>
                    <a class="dropdown-item" href="javascript:" data-id="1">手动</a>
                    <a class="dropdown-item" href="javascript:" data-id="2">自动</a>
                </div>
            </div>
        </th>
        <th>排序</th>
        <th>添加人</th>
        <th style="width:100px;word-wrap: break-word;word-break:break-all;">最后更新时间</th>
        <th style="width: 160px">操作</th>
    </tr>
    </thead>
    <tbody>
    <% if (dataArr.length > 0) { %>
    <% for (var i = 0; i < dataArr.length; i++) { %>
    <tr data-id="<%= dataArr[i].id %>" <% if (dataArr[i].status == 3) { %> style="background: lightgrey" <% } %>>
        <td><%= dataArr[i].id %></td>
        <td style="width:8%;word-wrap: break-word;word-break:break-all;">
            <a target="_blank" style="text-decoration: underline" href="<%= dataArr[i].url %>"><%= dataArr[i].title %></a>
        </td>
        <td style="width:8%;word-wrap: break-word;word-break:break-all;"><%= dataArr[i].shopArr.title %></td>
        <td style="width:8%;word-wrap: break-word;word-break:break-all;">
            <% if(dataArr[i].itemArr.reservePrice){ %><div style="margin-bottom: 5px;text-decoration: line-through;color:gray"><%= dataArr[i].itemArr.reservePrice %>元</div><% } %>
            <% if(dataArr[i].itemArr.zkFinalPrice){ %><div style="margin-bottom: 5px;color: orange"><%= dataArr[i].itemArr.zkFinalPrice %>元</div><% } %>
            <div style="margin-bottom: 5px;color: red"><%= dataArr[i].itemArr.couponInfo %></div>
            <div style="margin-bottom: 5px;color: #009688"><%= dataArr[i].itemArr.itemDescription %></div>
        </td>
        <!--<td>-->
            <!--<% if (dataArr[i].coverImg) { %>-->
            <!--<a target="_blank" href="<%= dataArr[i].coverImg %>"><img src="<%= dataArr[i].coverImg %>" alt="" style="display: inline-block;width:50px;height: 50px"></a>-->
            <!--<% } else { %>-->
            <!--<span style="color:red">暂无图片</span>-->
            <!--<% } %>-->
        <!--</td>-->
        <td>
            <%= dataArr[i].anchorArr.name %>
            <span class="anchorId" style="display: none"><%= dataArr[i].anchorArr.id %></span>
        </td>
        <td>
            <div style="margin-bottom: 5px"><%= dataArr[i].dateArr.date %></div>
            <div><%= dataArr[i].dateArr.title %></div>
            <span class="dateId" style="display: none"><%= dataArr[i].dateArr.id %></span>
        </td>
        <td>
            <%= dataArr[i].categoryArr.title %>
            <span class="categoryId" style="display: none"><%= dataArr[i].categoryArr.id %></span>
        </td>
        <td><%- dataArr[i].sourceText %></td>
        <td style="width:9%;word-wrap: break-word;word-break:break-all;">
            <% if(dataArr[i].source==1){ %>
            <a target="_blank" href="<%= dataArr[i].url %>"><%= dataArr[i].url %></a>
            <% }else if(dataArr[i].source==2){ %>
            <a target="_blank" href="<%= dataArr[i].url %>"><%= dataArr[i].itemArr.pwd %></a>
            <% } %>
        </td>
        <td><%- dataArr[i].statusText %></td>
        <td><%- dataArr[i].syncWayText %></td>
        <td><%= dataArr[i].sort %></td>
        <td><%= dataArr[i].operatorName %></td>
        <td style="width:100px;word-wrap: break-word;word-break:break-all;"><%= dataArr[i].updateTime %></td>
        <td>
            <div class="d-flex flex-wrap justify-content-center">
                <%- dataArr[i].materialButtonGroup %>
            </div>
        </td>
    </tr>
    <% } %>
    <% } else { %>
    <tr>
        <td colspan="15">没有符合条件的记录</td>
    </tr>
    <% } %>
    </tbody>
</script>
<!--Modal新增,编辑，查看-->
<script id="modalDiv" type="text/html">
    <form id="visaPassportForm" disabled="true">
        <fieldset>
            <input type="hidden" name="id" value="<%= dataArr.id %>">
            <% if(dataArr.id){ %>
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-10">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">ID</span>
                        </div>
                        <input type="text" disabled value="<%= dataArr.id %>" class="form-control">
                    </div>
                </div>
                <div class="col-2">
                    <h5 style="margin-top: 8px">状态：<%- dataArr.statusText %></h5>
                </div>
            </div>
            <% } %>
            <!--<div class="form-row" style="margin-bottom: 15px">-->
                <!--<div class="col-12">-->
                    <!--<div class="input-group">-->
                        <!--<div class="input-group-prepend">-->
                            <!--<span class="input-group-text">标题</span>-->
                        <!--</div>-->
                        <!--<input type="text" name="title" placeholder="请输入标题" value="<%= dataArr.title %>" class="form-control" required>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">主播</span>
                        </div>
                        <select name="anchorId" class="form-control" required>
                            <option value="">请选择</option>
                            <% for (var i = 0; i < anchorArr.length; i++) { %>
                            <option value="<%= anchorArr[i].id %>" <% if(dataArr.anchorArr.id==anchorArr[i].id) { %> selected <% } %>><%= anchorArr[i].name %></option>
                            <% }%>
                        </select>
                    </div>
                </div>
                <div class="col-9">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">带货日期</span>
                        </div>
                        <select name="dateId" class="form-control" required>
                            <option value="">请选择</option>
                            <% for (var i = 0; i < dateArr.length; i++) { %>
                            <% if(dateArr[i].anchorId == dataArr.anchorArr.id){ %>
                            <option value="<%= dateArr[i].id %>" <% if(dataArr.dateArr.id==dateArr[i].id) { %> selected <% } %>><%= dateArr[i].date %>  <%= dateArr[i].title %>  【<%= dateArr[i].statusText %>】</option>
                            <% }%>
                            <% }%>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">来源</span>
                        </div>
                        <select name="source" class="form-control" required>
                            <option value="">请选择</option>
                            <option value="1" <% if(dataArr.source==1){ %> selected <% } %>>京东</option>
                            <option value="2" <% if(dataArr.source==2){ %> selected <% } %>>淘宝</option>
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">分类</span>
                        </div>
                        <select name="categoryId" class="form-control" required>
                            <option value="">请选择</option>
                            <% for (var i = 0; i < categoryArr.length; i++) { %>
                            <option value="<%= categoryArr[i].id %>" <% if(dataArr.categoryArr.id==categoryArr[i].id) { %> selected <% } %>><%= categoryArr[i].title %></option>
                            <% }%>
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">排序</span>
                        </div>
                        <input type="text" name="sort" placeholder="请输入排序" value="<%= dataArr.sort %>" class="form-control" required>
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">销量</span>
                        </div>
                        <input type="text" name="salesNum" placeholder="请输入销量" value="<%= dataArr.salesNum %>" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 15px">
                <div style="width: 40%;margin-right: 2%">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">商品信息-宝贝id</span>
                        </div>
                        <input type="text" name="itemId" placeholder="请输入商品信息-宝贝id" value="<%= dataArr.itemArr.itemId %>" class="form-control" required>
                    </div>
                </div>
                <% if(dataArr.id){ %>
                <div style="width: 50%;margin-right: 2%">
                    <div class="input-group">
                        <button type="button" class="btn btn-success" data-operate="updateTaoMessage">同步</button>
                        <a href="https://item.taobao.com/item.htm?id=<%= dataArr.itemArr.itemId %>" target="_blank" style="margin-top: 8px;margin-left: 20px">查看淘宝商品信息</a>
                    </div>
                </div>
                <% } %>
            </div>
            <!--<div class="form-row" style="margin-bottom: 15px;display: none">-->
                <!--<div class="col-6">-->
                    <!--<div class="input-group">-->
                        <!--<div class="input-group-prepend">-->
                            <!--<span class="input-group-text">备注1</span>-->
                        <!--</div>-->
                        <!--<input type="text" name="memo1" placeholder="请输入备注1" value="<%= dataArr.memo1 %>" class="form-control">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-6">-->
                    <!--<div class="input-group">-->
                        <!--<div class="input-group-prepend">-->
                            <!--<span class="input-group-text">相关ID</span>-->
                        <!--</div>-->
                        <!--<input type="text" name="memo2" placeholder="请输入相关ID" value="<%= dataArr.memo2 %>" class="form-control">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-row" style="margin-bottom: 5px;display: none">
                <div class="col-12">
                    <h5 class="imgSizeMessage" style="color: red">
                        提示：上传封面图尺寸为242*215
                    </h5>
                </div>
            </div>
            <div class="form-row uploadFile" style="margin-bottom: 15px">
                <div class="col-7" style="display: none">
                    <div class="input-group">
                        <span style="margin-top:6px;margin-right: 10px">上传封面图</span>
                        <label class="file-label btn btn-primary mb-0 mr-2"><input type="file" name="avatar" class="uploadImg d-none" <% if(dataArr.id){ %> disabled style="cursor: not-allowed" <% } %>>选择图片文件</label>
                        <button type="button" class="btn btn-default avatarUpload" disabled>上传文件</button>
                    </div>
                </div>
                <% if(dataArr.id){ %>
                <div class="col-5">
                    <div class="input-group">
                        <span style="margin-top:6px;margin-right: 10px">封面图</span>
                        <% if (dataArr.coverImg) { %>
                        <h6 class="imgUrl">
                            <a target='_blank' href='<%= dataArr.coverImg %>'>
                                <img src="<%= dataArr.coverImg %>" style="display: inline-block;width:35px;height: 32px">
                            </a>
                        </h6>
                        <% } else { %>
                        <h6 style="margin-top: 9px" class="imgUrl"><span style="color:red">暂无封面图</span></h6>
                        <% } %>
                        <!--<input type="hidden" name="coverImg" value="<%= dataArr.coverImg %>">-->
                    </div>
                </div>
                <div class="col-7">
                    <button type="button" class="btn btn-default secondCancel" data-operate="sameCancel" style="float: right">取消</button>
                    <button type="button" class="btn btn-primary" data-operate="sameUpdate" style="float: right;margin-right: 10px">确定</button>
                </div>
                <% } %>
            </div>
            <% if(dataArr.id){ %>
            <div style="border-top: 1px dashed gray;padding-bottom: 15px;"></div>
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">商品淘口令</span>
                        </div>
                        <input type="text" disabled value="<%= dataArr.itemArr.pwd %>" class="form-control pwd">
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group">
                        <button type="button" class="btn btn-success" data-operate="updateTaoPwd">更新淘口令</button>
                    </div>
                </div>
            </div>
            <div style="border-top: 1px dashed gray;padding-bottom: 15px;"></div>
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-10">
                    <div class="form-row" style="margin-bottom: 15px">
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">店铺名称</span>
                                </div>
                                <input type="text" value="<%= dataArr.shopArr.title %>" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">店铺类型</span>
                                </div>
                                <input type="text" <% if(dataArr.shopArr.shopType=='B'){ %> value="天猫" <% }else if(dataArr.shopArr.shopType=='C'){ %> value="淘宝" <% } %> class="form-control"  disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">卖家ID</span>
                                </div>
                                <input type="text" value="<%= dataArr.shopArr.sellerId %>" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">卖家昵称</span>
                                </div>
                                <input type="text" value="<%= dataArr.shopArr.sellerNick %>" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <% if(dataArr.shopArr.picUrl){ %>
                    <a href="<%= dataArr.shopArr.picUrl %>" target="_blank">
                        <img src="<%= dataArr.shopArr.picUrl %>" style="display: inline-block;width: 90px;height: 90px">
                    </a>
                    <% } %>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">店铺地址</span>
                        </div>
                        <% if(dataArr.shopArr.shopUrl){ %>
                        <a href="<%= dataArr.shopArr.shopUrl %>" target="_blank" style="padding:8px 10px 0 10px;border: 1px solid lightgray;"><%= dataArr.shopArr.shopUrl %></a>
                        <% } %>
                    </div>
                </div>
            </div>
            <div style="border-top: 1px dashed gray;padding-bottom: 15px;"></div>
            <% if(dataArr.itemArr){ %>
            <div class="form-row" style="margin-bottom: 15px">
                <div style="width: 28%;margin-right: 2%">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">原价</span>
                        </div>
                        <input type="text" value="<%= dataArr.itemArr.reservePrice %>" class="form-control" disabled>
                        <div class="input-group-prepend">
                            <span class="input-group-text">元</span>
                        </div>
                    </div>
                </div>
                <div style="width: 28%">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">折扣价</span>
                        </div>
                        <input type="text" value="<%= dataArr.itemArr.zkFinalPrice %>" class="form-control" disabled>
                        <div class="input-group-prepend">
                            <span class="input-group-text">元</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">商品副标题</span>
                        </div>
                        <input type="text" value="<%= dataArr.itemArr.itemDescription %>" class="form-control" disabled>
                    </div>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">叶子分类ID</span>
                        </div>
                        <input type="text" value="<%= dataArr.itemArr.categoryId %>" class="form-control" disabled>
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">叶子分类</span>
                        </div>
                        <input type="text" value="<%= dataArr.itemArr.categoryName %>" class="form-control" disabled>
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">30天销量</span>
                        </div>
                        <input type="text" value="<%= dataArr.itemArr.volume %>" class="form-control" disabled>
                    </div>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">优惠券信息-优惠券起用门槛，满X元可用</span>
                        </div>
                        <input type="text" value="<%= dataArr.itemArr.couponStartFee %>" class="form-control" disabled>
                    </div>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">优惠券信息-优惠券满减信息</span>
                        </div>
                        <input type="text" value="<%= dataArr.itemArr.couponInfo %>" class="form-control" disabled>
                    </div>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">优惠券信息-优惠券优惠金额</span>
                        </div>
                        <input type="text" value="<%= dataArr.itemArr.couponAmount %>" class="form-control" disabled>
                    </div>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">优惠券信息-优惠券开始时间</span>
                        </div>
                        <input type="text" value="<%= dataArr.itemArr.couponStartTime %>" class="form-control" disabled>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">优惠券信息-优惠券结束时间</span>
                        </div>
                        <input type="text" value="<%= dataArr.itemArr.couponEndTime %>" class="form-control" disabled>
                    </div>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">优惠券信息-优惠券id</span>
                        </div>
                        <input type="text" value="<%= dataArr.itemArr.couponId %>" class="form-control" disabled>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">优惠券信息-优惠券剩余量</span>
                        </div>
                        <input type="text" value="<%= dataArr.itemArr.couponRemainCount %>" class="form-control" disabled>
                    </div>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">佣金比例</span>
                        </div>
                        <input type="text" value="<%= dataArr.itemArr.commissionRate %>" class="form-control" disabled>
                    </div>
                </div>
            </div>
            <% } %>
            <% } %>
        </fieldset>
    </form>
</script>
<script data-main="/public/js/module/mall/goods"></script>
<script type="text/javascript" src="/public/js/plugins/clipboard.min.js"></script>
@@include('../../inc-footer.html')
