@@include('../../inc-header.html', {"title": "工具管理"})
@@include('../../top-nav.html')
@@include('../../left-nav.html')
<main class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-th-list"></i> 工具管理</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active"><a href="#">工具管理</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="row" style="margin-top: 10px">
                    <!--数据表格modelBuilder.js-->
                    <div class="col-lg-12" style="width: 97%">
                        <ul class="nav nav-tabs">
                            <li class="active titleName" style="height: 28px">
                                <a href="#qh1" id="headerTab1" data-toggle="tab" style="outline:none;color: orange;cursor: pointer">搜索物料精选</a>
                            </li>
                            <li class="active" style="height: 28px">
                                <a href="#qh2" id="headerTab2" data-toggle="tab" style="outline:none;cursor: pointer">签约淘宝淘口令</a>
                            </li>
                            <li class="active" style="height: 28px">
                                <a href="#qh3" id="headerTab3" data-toggle="tab" style="outline:none;cursor: pointer">渠道商推广</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tile-body" style="padding: 20px;border: 1px solid #dee2e6">
                    <div class="tab-content" id="tabContent1">
                        <div class="row" style="margin-bottom:20px">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="btn-group  economy-wards" role="group" aria-label="Button group with nested dropdown">
                                    <input type="text" class="form-control" id="searchCont" autocomplete="off" style="width:60%">
                                    <button class="btn btn-secondary" type="button" id="selectsearchlabel">物料ID</button>
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-primary dropdown-toggle" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item searchlabel" href="#">物料ID</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group" style="margin-left:5px">
                                    <div id="search" class="btn btn-primary" style="outline:none">提交搜索</div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive" style="min-height: 600px">
                            <textarea id="sampleTable" style="resize:vertical;min-height: 600px;display: none" class="form-control" disabled></textarea>
                        </div>
                    </div>
                    <div class="tab-content" id="tabContent2" style="display: none">
                        <form id="taobaoPwd" disabled="true">
                            <div class="form-row" style="margin-bottom: 15px">
                                <div class="col-7">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">更新时间</span>
                                        </div>
                                        <input id="updateTime" type="text" disabled class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" style="margin-bottom: 15px">
                                <div class="col-7">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">淘口令</span>
                                        </div>
                                        <textarea id="pwd" name="pwd" style="resize:vertical;min-height: 100px;" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-7" style="padding-right: 5px">
                                    <button class="btn btn-primary" type="button" data-operate="saveTaobaoPwd" style="float: right">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-content" id="tabContent3" style="display: none">
                        <div class="row" style="margin-bottom:20px ">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                    <input type="text" class="form-control" id="searchCont1" autocomplete="off" style="width:60%">
                                    <button class="btn btn-secondary" type="button" id="selectsearchlabel1">会员ID</button>
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-primary dropdown-toggle" id="btnGroupDrop11" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item searchlabel" href="#">会员ID</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group" style="margin-left:1%">
                                    <div id="search1" class="btn btn-primary" style="outline:none">提交搜索</div>
                                </div>
                                <div class="btn-group" style="float:right">
                                    <button class="btn btn-primary" data-operate="add" style="outline:none;margin-left: 3px">新增</button>
                                </div>
                            </div>
                        </div>
                        <div class="tile-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered" id="sampleTable1"></table>
                                <div id="visaPagination" class="d-flex justify-content-end">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- 列表模板 -->
<script id="visaListItem" type="text/html">
    <thead>
    <tr>
        <th>ID</th>
        <th>会员ID</th>
        <th>渠道商昵称</th>
        <th>推广海报</th>
        <th>二维码</th>
        <th>二维码坐标</th>
        <th style="width:15%;word-wrap: break-word;word-break:break-all;">推广链接</th>
        <th class="em-min-7">
            <div class="dropdown">
                <span class="dropdown-toggle" id="dropStatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <%= statusText %>
                </span>
                <div class="dropdown-menu" aria-labelledby="dropdownVisaStatus" id="dropStatusOptions">
                    <a class="dropdown-item" href="javascript:" data-id="">所有</a>
                    <a class="dropdown-item" href="javascript:" data-id="1">有效</a>
                    <a class="dropdown-item" href="javascript:" data-id="2">无效</a>
                </div>
            </div>
        </th>
        <th>创建时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% if (dataArr.length > 0) { %>
    <% for (var i = 0; i < dataArr.length; i++) { %>
    <tr data-id="<%= dataArr[i].id %>">
        <td><%= dataArr[i].id %></td>
        <td><%= dataArr[i].userId %></td>
        <td>
            <a style="text-decoration: underline" target="_blank" href="@@HOSTview/account/userDetailsLook.html?id=<%= dataArr[i].userId %>"><%= dataArr[i].nickName %></a>
        </td>
        <td>
            <% if (dataArr[i].picUrl) { %>
            <a target="_blank" href="<%= dataArr[i].picUrl %>"><img src="<%= dataArr[i].picUrl %>" alt="" style="display: inline-block;width:100px;height: 50px"></a>
            <% } else { %>
            <span style="color:red">暂无推广海报</span>
            <% } %>
        </td>
        <td>
            <% if(dataArr[i].qrCodeUrl){ %>
            <a target="_blank" href="<%= dataArr[i].qrCodeUrl %>">
                <img src="<%= dataArr[i].qrCodeUrl %>" style="display: inline-block;width:100px;height: 50px">
            </a>
            <% }else{ %>
            <span style="color: red">暂无二维码图片</span>
            <% } %>
        </td>
        <td>
            <% if(dataArr[i].qrCode_x){ %> <div style="margin-bottom: 5px">X : <%= dataArr[i].qrCode_x %></div> <% } %>
            <% if(dataArr[i].qrCode_y){ %> <div>Y : <%= dataArr[i].qrCode_y %></div> <% } %>
        </td>
        <td style="width:15%;word-wrap: break-word;word-break:break-all;">
            <a href="<%= dataArr[i].url %>" target="_blank"> <%= dataArr[i].url %></a>
        </td>
        <td><%- dataArr[i].statusText %></td>
        <td><%= dataArr[i].createTime %></td>
        <td>
            <div class="d-flex flex-wrap justify-content-center">
                <%- dataArr[i].materialButtonGroup %>
            </div>
        </td>
    </tr>
    <% } %>
    <% } else { %>
    <tr>
        <td colspan="10">没有符合条件的记录</td>
    </tr>
    <% } %>
    </tbody>
</script>
<!--Modal新增,编辑，查看-->
<script id="modalDiv" type="text/html">
    <form id="visaPassportForm" disabled="true">
        <fieldset>
            <input type="hidden" name="id" value="<%= dataArr.id %>">
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">会员ID</span>
                        </div>
                        <input type="text" name="userId" placeholder="请输入会员ID" value="<%= dataArr.userId %>" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="form-row uploadFile" style="margin-bottom: 15px">
                <div class="col-5">
                    <div class="input-group">
                        <span style="margin-top:6px;margin-right: 10px">上传海报原图</span>
                        <label class="file-label btn btn-primary mb-0 mr-2"><input type="file" name="avatar1" class="uploadImg d-none">选择图片文件</label>
                        <button type="button" class="btn btn-default avatarUpload" disabled>上传文件</button>
                    </div>
                </div>
                <div class="col-7">
                    <div class="input-group">
                        <% if (dataArr.picUrl) { %>
                        <h6 class="imgUrl">
                            <a target='_blank' href='<%= dataArr.picUrl %>'>
                                <img src="<%= dataArr.picUrl %>" style="display: inline-block;width:100px;height: 33px;">
                            </a>
                        </h6>
                        <% } else { %>
                        <h6 style="margin-top: 9px" class="imgUrl"><span style="color:red">暂无海报原图</span></h6>
                        <% } %>
                        <input type="hidden" name="picUrl" value="<%= dataArr.picUrl %>">
                    </div>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">二维码X坐标</span>
                        </div>
                        <input type="text" name="qrCode_x" placeholder="请输入二维码X坐标" value="<%= dataArr.qrCode_x %>" class="form-control" required>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">二维码Y坐标</span>
                        </div>
                        <input type="text" name="qrCode_y" placeholder="请输入二维码Y坐标" value="<%= dataArr.qrCode_y %>" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">推广链接</span>
                        </div>
                        <input type="text" name="url" placeholder="请输入推广链接" value="<%= dataArr.url %>" class="form-control" required>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</script>
<script data-main="/public/js/module/tool/searchMaterial"></script>
<script type="text/javascript" src="/public/js/plugins/moment.min.js"></script>
<script type="text/javascript" src="/public/js/plugins/moment.js"></script>
@@include('../../inc-footer.html')
<script type="text/javascript" src="/public/js/plugins/daterangepicker.js"></script>