@@include('../../inc-header.html', {"title": "商品查看"})
@@include('../../top-nav.html')
@@include('../../left-nav.html')
<main class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-th-list"></i> 商品查看</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active"><a data-operate="backList" href="#">返回商品管理</a></li>
        </ul>
    </div>
    <form class="needs-validation" id="goodsForm"></form>
</main>

@@include('template.html')

<script data-main="/public/js/module/store/look"></script>
<!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
<script type="text/javascript" src="/public/js/plugins/wangeditor/release/wangEditor.min.js"></script>
<script type="text/javascript" src="/public/js/plugins/clipboard.min.js"></script>
@@include('../../inc-footer.html')