@@include('../../inc-header.html', {"title": "订单统计"})
@@include('../../top-nav.html')
@@include('../../left-nav.html')
<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-th-list"></i> 订单统计</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item">Tables</li>
      <li class="breadcrumb-item active"><a href="#">订单统计</a></li>
    </ul>
  </div>
    <div class="row" style="margin-top: 10px">
        <!--数据表格modelBuilder.js-->
        <div class="col-lg-12" style="width: 97%">
            <ul class="nav nav-tabs">
                <li class="active" style="height: 28px">
                    <a href="#qh1" id="headerTab1" data-toggle="tab" style="outline:none;background: #ffffff;color: orange;cursor: pointer">扇形图</a>
                </li>
                <li class="active" style="height: 28px">
                    <a href="#qh2" id="headerTab2" data-toggle="tab" style="outline:none;background: #ffffff;cursor: pointer">柱状图</a>
                </li>
            </ul>
            <div class="tab-content" id="tabContent1">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tile">
                            <div class="tile-body">
                                <div class="form-row">
                                    <div class="col-6">
                                        <div class="tile">
                                            <h5 id="resultText"></h5>
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <canvas class="embed-responsive-item" id="pieChartDemo"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="tabContent2" style="display: none">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tile">
                            <div class="tile-body">
                                <div class="form-row" style="margin-bottom: 15px">
                                    <div  style="width: 150px">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">类型</span>
                                            </div>
                                            <select name="type" class="form-control">
                                                <option value="3">按年</option>
                                                <option value="1" selected>按日</option>
                                                <option value="2">按月</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="dateDiv" style="width: 300px;margin-left: 20px">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">日期</span>
                                            </div>
                                            <input autocomplete="off" type="text" name="date" class="form-control dateInput">
                                        </div>
                                    </div>
                                    <div class="btn-group" style="margin-left:1%">
                                        <div id="search" class="btn btn-primary" style="outline:none">生成图表</div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-8">
                                        <div class="tile">
                                            <!--<h5 id="resultText"></h5>-->
                                            <h5>
                                                <div class="form-row" style="margin-bottom: 5px">
                                                    <div style="color: orange">
                                                        <div style="width: 80px;height: 10px;background: orange;float: left;margin-right: 10px;margin-top: 5px;"></div>淘宝
                                                    </div>
                                                    <div style="color: #46BFBD">
                                                        <div style="width: 80px;height: 10px;background: #46BFBD;float: left;margin-right: 10px;margin-top: 5px;margin-left: 20px"></div>拼多多
                                                    </div>
                                                    <div style="color: green">
                                                        <div style="width: 80px;height: 10px;background: green;float: left;margin-right: 10px;margin-top: 5px;margin-left: 20px"></div>美团
                                                    </div>
                                                    <div style="color: cornflowerblue">
                                                        <div style="width: 80px;height: 10px;background: cornflowerblue;float: left;margin-right: 10px;margin-top: 5px;margin-left: 20px"></div>美团流量包
                                                    </div>
                                                    <div style="color: chocolate">
                                                        <div style="width: 80px;height: 10px;background: chocolate;float: left;margin-right: 10px;margin-top: 5px;margin-left: 20px"></div>综合
                                                    </div>
                                                </div>
                                            </h5>
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <canvas class="embed-responsive-item" id="barChartDemo"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script id="resultDiv" type="text/html">
    <% for(var i=0;i< dataArr.length;i++){ %>
    <% if(dataArr[i].label=="totalCnt"){ %>
    <div class="form-row" style="margin-bottom: 5px;color:<%= dataArr[i].color %>">
        <div style="width: 130px"><i class="fa fa-pie-chart" aria-hidden="true" style="margin-right:5px;color:<%= dataArr[i].color %>"></i><%= dataArr[i].labelText %></div>
        <div><%= dataArr[i].cnt %>单</div>
    </div>
    <% }else{ %>
    <div class="form-row" style="margin-bottom: 5px;color:<%= dataArr[i].color %>">
        <div style="width: 130px"><i class="fa fa-pie-chart" aria-hidden="true" style="margin-right:5px;color:<%= dataArr[i].color %>"></i><%= dataArr[i].labelText %></div>
        <div><%= dataArr[i].cnt %>单&nbsp;&nbsp;&nbsp;<%= dataArr[i].percent %>%</div>
    </div>
    <% } %>
    <% } %>
</script>
<script type="text/javascript" src="/public/js/plugins/chart.js"></script>
<script data-main="/public/js/module/financialTable/orderLists"></script>
@@include('../../inc-footer.html')

