@@include('../../inc-header.html', {"title": "主播管理"})
@@include('../../top-nav.html')
@@include('../../left-nav.html')
<main class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-th-list"></i> 主播管理</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active"><a href="#">主播管理</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="row" style="margin-bottom:20px ">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <input type="text" class="form-control" id="searchCont" autocomplete="off" style="width:60%">
                            <button class="btn btn-secondary" type="button" id="selectsearchlabel">姓名</button>
                            <div class="btn-group" role="group">
                                <button class="btn btn-primary dropdown-toggle" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item searchlabel" href="#">姓名</a>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group" style="margin-left:1%">
                            <div id="search" class="btn btn-primary" style="outline:none">提交搜索</div>
                        </div>
                        <div class="btn-group" style="margin-left:1%">
                            <div class="btn btn-success" style="outline:none" data-operate="batchUpd">批量纠正日期</div>
                        </div>
                        <div class="btn-group" style="float:right">
                            <button id="addModal" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="outline:none;margin-left: 3px">新增</button>
                        </div>
                    </div>
                </div>
                <div class="tile-body">
                    <div class="table-responsive" style="min-height: 300px">
                        <table class="table table-hover table-bordered" id="sampleTable"></table>
                        <div id="visaPagination" class="d-flex justify-content-end">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- 列表模板 -->
<script id="visaListItem" type="text/html">
    <thead>
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>图片</th>
        <th>排序</th>
        <th>主播标签</th>
        <th class="em-min-7">
            <div class="dropdown">
                <span class="dropdown-toggle" id="dropMaxGoodsDate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <%= maxGoodsDateText %>
                </span>
                <div class="dropdown-menu" aria-labelledby="dropMaxGoodsDate" id="dropMaxGoodsDateOptions">
                    <a class="dropdown-item" href="javascript:" data-id="">所有</a>
                    <a class="dropdown-item" href="javascript:" data-id="asc">升序</a>
                    <a class="dropdown-item" href="javascript:" data-id="desc">降序</a>
                </div>
            </div>
        </th>
        <th class="em-min-7">
            <div class="dropdown">
                <span class="dropdown-toggle" id="dropDate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <%= dateCntText %>
                </span>
                <div class="dropdown-menu" aria-labelledby="dropDate" id="dropDateOptions">
                    <a class="dropdown-item" href="javascript:" data-id="">所有</a>
                    <a class="dropdown-item" href="javascript:" data-id="asc">升序</a>
                    <a class="dropdown-item" href="javascript:" data-id="desc">降序</a>
                </div>
            </div>
        </th>
        <th class="em-min-7">
            <div class="dropdown">
                <span class="dropdown-toggle" id="dropGoods" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <%= goodsCntText %>
                </span>
                <div class="dropdown-menu" aria-labelledby="dropGoods" id="dropGoodsOptions">
                    <a class="dropdown-item" href="javascript:" data-id="">所有</a>
                    <a class="dropdown-item" href="javascript:" data-id="asc">升序</a>
                    <a class="dropdown-item" href="javascript:" data-id="desc">降序</a>
                </div>
            </div>
        </th>
        <th class="em-min-7">
            <div class="dropdown">
                <span class="dropdown-toggle" id="dropClick" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <%= clickCntText %>
                </span>
                <div class="dropdown-menu" aria-labelledby="dropClick" id="dropClickOptions">
                    <a class="dropdown-item" href="javascript:" data-id="">所有</a>
                    <a class="dropdown-item" href="javascript:" data-id="asc">升序</a>
                    <a class="dropdown-item" href="javascript:" data-id="desc">降序</a>
                </div>
            </div>
        </th>
        <th>收藏数</th>
        <th>直播数</th>
        <th>分享数</th>
        <th class="em-min-7">
            <div class="dropdown">
                <span class="dropdown-toggle" id="dropStatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <%= statusText %>
                </span>
                <div class="dropdown-menu" aria-labelledby="dropdownVisaStatus" id="dropStatusOptions">
                    <a class="dropdown-item" href="javascript:" data-id="">所有</a>
                    <a class="dropdown-item" href="javascript:" data-id="1">有效</a>
                    <a class="dropdown-item" href="javascript:" data-id="2">无效</a>
                </div>
            </div>
        </th>
        <th>创建时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% if (dataArr.length > 0) { %>
    <% for (var i = 0; i < dataArr.length; i++) { %>
    <tr data-id="<%= dataArr[i].id %>">
        <td><%= dataArr[i].id %></td>
        <td><%= dataArr[i].name %></td>
        <td>
            <% if(dataArr[i].pic){ %>
            <a target="_blank" href="<%= dataArr[i].pic %>">
                <img src="<%= dataArr[i].pic %>" style="display: inline-block;width:100px;height: 50px">
            </a>
            <% }else{ %>
            <span style="color: red">暂无图片</span>
            <% } %>
        </td>
        <td><%= dataArr[i].sort %></td>
        <td>
            <% for(var j=0;j < dataArr[i].tagArr.length;j++){ %>
            <div style="margin-bottom: 5px"><%= dataArr[i].tagArr[j].tagName %></div>
            <% } %>
        </td>
        <td><%= dataArr[i].maxGoodsDate %></td>
        <td><%= dataArr[i].dateCnt %></td>
        <td><%= dataArr[i].goodsCnt %></td>
        <td><%= dataArr[i].clickCnt %></td>
        <td><%= dataArr[i].favoriteCnt %></td>
        <td><%= dataArr[i].liveRecordingRemindCnt %></td>
        <td><%= dataArr[i].shareCnt %></td>
        <td><%- dataArr[i].statusText %></td>
        <td><%= dataArr[i].createTime %></td>
        <td>
            <div class="d-flex flex-wrap justify-content-center">
                <%- dataArr[i].materialButtonGroup %>
            </div>
        </td>
    </tr>
    <% } %>
    <% } else { %>
    <tr>
        <td colspan="9">没有符合条件的记录</td>
    </tr>
    <% } %>
    </tbody>
</script>
<!--Modal新增,编辑，查看主播-->
<script id="modalDiv" type="text/html">
    <form id="visaPassportForm" disabled="true">
        <fieldset>
            <input type="hidden" name="id" value="<%= dataArr.id %>">
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">姓名</span>
                        </div>
                        <input type="text" name="name" placeholder="请输入姓名" value="<%= dataArr.name %>" class="form-control" required>
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">排序</span>
                        </div>
                        <input type="text" name="sort" placeholder="请输入排序" value="<%= dataArr.sort %>" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">副标题</span>
                        </div>
                        <input type="text" name="subTitle" placeholder="请输入副标题" value="<%= dataArr.subTitle %>" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 5px">
                <div class="col-12">
                    <h5 class="imgSizeMessage" style="color: red">
                        提示：上传图片尺寸为690*240
                    </h5>
                </div>
            </div>
            <div class="form-row uploadFile" style="margin-bottom: 15px">
                <div class="col-5">
                    <div class="input-group">
                        <span style="margin-top:6px;margin-right: 10px">上传图片</span>
                        <label class="file-label btn btn-primary mb-0 mr-2"><input type="file" name="avatar1" class="uploadImg d-none">选择图片文件</label>
                        <button type="button" class="btn btn-default avatarUpload" disabled>上传文件</button>
                    </div>
                </div>
                <div class="col-7">
                    <div class="input-group">
                        <% if (dataArr.pic) { %>
                        <h6 class="imgUrl">
                            <a target='_blank' href='<%= dataArr.pic %>'>
                                <img src="<%= dataArr.pic %>" style="display: inline-block;width:100px;height: 33px;">
                            </a>
                        </h6>
                        <% } else { %>
                        <h6 style="margin-top: 9px" class="imgUrl"><span style="color:red">暂无图片</span></h6>
                        <% } %>
                        <input type="hidden" name="pic" value="<%= dataArr.pic %>">
                    </div>
                </div>
            </div>
            <!-- 测试环境-->
            <div class="form-row uploadFile1" style="margin-bottom: 15px">
                <div class="col-5">
                    <div class="input-group">
                        <span style="margin-top:6px;margin-right: 10px">上传头像</span>
                        <label class="file-label btn btn-primary mb-0 mr-2"><input type="file" name="avatar2" class="uploadImg1 d-none">选择头像文件</label>
                        <button type="button" class="btn btn-default avatarUpload1" disabled>上传头像文件</button>
                    </div>
                </div>
                <div class="col-7">
                    <div class="input-group">
                        <% if (dataArr.avatar) { %>
                        <h6 class="imgUrl1">
                            <a target='_blank' href='<%= dataArr.avatar %>'>
                                <img src="<%= dataArr.avatar %>" style="display: inline-block;width:100px;height: 33px;">
                            </a>
                        </h6>
                        <% } else { %>
                        <h6 style="margin-top: 9px" class="imgUrl1"><span style="color:red">暂无头像</span></h6>
                        <% } %>
                        <input type="hidden" name="avatar" value="<%= dataArr.avatar %>">
                    </div>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-6 singItem">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">带货平台</span>
                            <input type="hidden" name="tag[0][id]"
                            <% if(dataArr.id){ %>
                                <% if(dataArr.tagArr.length>=2){ %>
                                    <% for (var i = 0; i < dataArr.tagArr.length; i++) { %>
                                        <% if(dataArr.tagArr[i].type==1){ %>
                                            value="<%= dataArr.tagArr[i].id %>"
                                        <% }%>
                                    <% } %>
                                <% } %>
                            <% } %>
                            >
                            <input type="hidden" name="tag[0][type]" value="1">
                        </div>
                        <select name="tag[0][val]" class="form-control" required>
                            <option value="">请选择</option>
                            <% for (var i = 0; i < tagArr1.length; i++) { %>
                            <option value="<%= tagArr1[i].id %>"
                            <% if(dataArr.tagArr.length>=2){ %>
                                <% for (var j = 0; j < dataArr.tagArr.length; j++) { %>
                                    <% if(dataArr.tagArr[j].type==1){ %>
                                        <% if(dataArr.tagArr[j].tag==tagArr1[i].id) { %>
                                        selected
                                        <% } %>
                                    <% } %>
                                <% } %>
                            <% } %>
                            ><%= tagArr1[i].name %>
                            </option>
                            <% }%>
                        </select>
                    </div>
                </div>
                <div class="col-6 singItem">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">主播性质</span>
                            <input type="hidden" name="tag[1][id]"
                            <% if(dataArr.id){ %>
                                <% if(dataArr.tagArr.length>=2){ %>
                                    <% for (var i = 0; i < dataArr.tagArr.length; i++) { %>
                                        <% if(dataArr.tagArr[i].type==2){ %>
                                            value="<%= dataArr.tagArr[i].id %>"
                                        <% } %>
                                    <% } %>
                                <% } %>
                            <% } %>
                            >
                            <input type="hidden" name="tag[1][type]" value="2">
                        </div>
                        <select name="tag[1][val]" class="form-control" required>
                            <option value="">请选择</option>
                            <% for (var i = 0; i < tagArr2.length; i++) { %>
                            <option value="<%= tagArr2[i].id %>"
                            <% if(dataArr.tagArr.length>=2){ %>
                                <% for (var j = 0; j < dataArr.tagArr.length; j++) { %>
                                    <% if(dataArr.tagArr[j].type==2){ %>
                                        <% if(dataArr.tagArr[j].tag==tagArr2[i].id) { %>
                                        selected
                                        <% } %>
                                    <% } %>
                                <% } %>
                            <% } %>
                            ><%= tagArr2[i].name %>
                            </option>
                            <% }%>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-5">
                    <div class="input-group">
                        <button type="button" class="btn btn-success" data-operate="addTag">添加用户自定义标签</button>
                    </div>
                </div>
            </div>
            <div class="customTagDiv">
                <% for (var i = 0; i < dataArr.tagArr.length; i++) { %>
                <% if(dataArr.tagArr[i].type==3){ %>
                <div class="form-row singItem" style="margin-bottom: 15px">
                    <div class="col-7">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">用户自定义标签<span class="tagNumber"><%= i-1 %></span></span>
                                <input type="hidden" name="tag[][id]" value="<%= dataArr.tagArr[i].id %>">
                                <input type="hidden" name="tag[][type]" value="3">
                            </div>
                            <input type="text" name="tag[][val]" class="form-control" value="<%= dataArr.tagArr[i].tag %>">
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="input-group">
                            <button type="button" class="btn btn-danger" data-operate="delTag">删除</button>
                        </div>
                    </div>
                </div>
                <% } %>
                <% } %>
            </div>
            <div class="delItemArr"></div>
        </fieldset>
    </form>
</script>
<script id="customTagItem" type="text/html">
    <div class="form-row singItem" style="margin-bottom: 15px">
        <div class="col-7">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">用户自定义标签<span class="tagNumber"></span></span>
                    <input type="hidden" name="tag[][id]" value="0">
                    <input type="hidden" name="tag[][type]" value="3">
                </div>
                <input type="text" name="tag[][val]" class="form-control">
            </div>
        </div>
        <div class="col-5">
            <div class="input-group">
                <button type="button" class="btn btn-danger" data-operate="delTag">删除</button>
            </div>
        </div>
    </div>
</script>
<script data-main="/public/js/module/account/anchor"></script>
@@include('../../inc-footer.html')