@@include('../../inc-header.html', {"title": "预见未来管理"})
@@include('../../top-nav.html')
@@include('../../left-nav.html')
<main class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-th-list"></i> 预见未来管理</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active"><a href="#">预见未来管理</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="row" style="margin-bottom:20px ">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <input type="text" class="form-control" id="searchCont" autocomplete="off" style="width:60%">
                            <button class="btn btn-secondary" type="button" id="selectsearchlabel">标题</button>
                            <div class="btn-group" role="group">
                                <button class="btn btn-primary dropdown-toggle" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item searchlabel" href="#">标题</a>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group" style="margin-left:1%">
                            <div id="search" class="btn btn-primary" style="outline:none">提交搜索</div>
                        </div>
                        <div class="btn-group" style="float:right">
                            <button id="addModal" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="outline:none;margin-left: 3px">新增</button>
                        </div>
                    </div>
                </div>
                <div class="tile-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered" id="sampleTable"></table>
                        <div id="visaPagination" class="d-flex justify-content-end">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- 列表模板 -->
<script id="visaListItem" type="text/html">
    <thead>
    <tr>
        <th>ID</th>
        <th>期数</th>
        <th style="width:15%;word-wrap: break-word;word-break:break-all;">标题</th>
        <th>起止时间</th>
        <th>最后参与时间</th>
        <th>思维能量</th>
        <th>参与人次数</th>
        <th>获胜人次数</th>
        <th class="em-min-7">
            <div class="dropdown">
                <span class="dropdown-toggle" id="dropTop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                     <%= isTopText %>
                </span>
                <div class="dropdown-menu" aria-labelledby="dropTop" id="dropTopOptions">
                    <a class="dropdown-item" href="javascript:" data-id="">所有</a>
                    <a class="dropdown-item" href="javascript:" data-id="1">是</a>
                    <a class="dropdown-item" href="javascript:" data-id="2">否</a>
                </div>
            </div>
        </th>
        <th>状态</th>
        <th>结算</th>
        <th>结算时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% if (dataArr.length > 0) { %>
    <% for (var i = 0; i < dataArr.length; i++) { %>
    <tr data-id="<%= dataArr[i].id %>"  <% if (dataArr[i].settlementButton == 1) { %> style="background: #fdb185" <% } %>>
        <td><%= dataArr[i].id %></td>
        <td><%= dataArr[i].period %></td>
        <td style="width:15%;word-wrap: break-word;word-break:break-all;"><%= dataArr[i].title %></td>
        <td>
            <div style="margin-bottom: 5px"><%= dataArr[i].startTime %></div>
            <div><%= dataArr[i].endTime %></div>
        </td>
        <td><%= dataArr[i].lastJoinTime %></td>
        <td><%= dataArr[i].thinkingEnergyCnt %></td>
        <td><%= dataArr[i].userCnt %></td>
        <td><%= dataArr[i].winUserCnt %></td>
        <td><%- dataArr[i].topText %></td>
        <td><%- dataArr[i].statusText %></td>
        <td><%- dataArr[i].settlementText %></td>
        <td><%= dataArr[i].settlementTime %></td>
        <td>
            <div class="d-flex flex-wrap justify-content-center">
                <%- dataArr[i].materialButtonGroup %>
            </div>
        </td>
    </tr>
    <% } %>
    <% } else { %>
    <tr>
        <td colspan="13">没有符合条件的记录</td>
    </tr>
    <% } %>
    </tbody>
</script>
<!--Modal新增,编辑，查看预见未来-->
<script id="modalDiv" type="text/html">
    <form id="visaPassportForm" disabled="true">
        <fieldset>
            <input type="hidden" name="id" value="<%= dataArr.id %>">
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">标题</span>
                        </div>
                        <input type="text" name="title" placeholder="请输入标题" value="<%= dataArr.title %>" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">开始时间</span>
                        </div>
                        <input name="startTime" autocomplete="off" class="form-control" required value="<%= dataArr.startTime %>" onclick="laydate({istime: false, format: 'YYYY-MM-DD hh:mm:ss'})" type="text" placeholder="开始时间">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">结束时间</span>
                        </div>
                        <input name="endTime"  autocomplete="off" class="form-control" required value="<%= dataArr.endTime %>" onclick="laydate({istime: false, format: 'YYYY-MM-DD hh:mm:ss'})" type="text"placeholder="结束时间">
                    </div>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-3">
                    <div class="input-group">
                        <input type="button" class="btn btn-primary" data-operate="addSelect" style="outline:none" value="新增预见选项">
                    </div>
                </div>
            </div>
            <div id="itemSelectDiv">
                <div id="delItemArr"></div>
                <% for (var j = 0; j < itemArr.length; j++) { %>
                <div class="form-row singItem" style="margin-bottom: 15px">
                    <div class="col-10">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">选项</span>
                            </div>
                            <input type="hidden" name="itemArr[][id]"  placeholder="" value="<%= itemArr[j].id %>" class="form-control">
                            <input type="text" name="itemArr[][title]" placeholder="" value="<%= itemArr[j].title %>" class="form-control">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-group">
                            <button class="btn btn-danger" data-operate="delSelect" style="outline:none">删除</button>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </fieldset>
    </form>
</script>
<script id="singItemDiv" type="text/html">
    <div class="form-row singItem" style="margin-bottom: 15px">
        <div class="col-10">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">选项</span>
                </div>
                <input type="hidden" name="itemArr[][id]"  placeholder="" value="" class="form-control">
                <input type="text" name="itemArr[][title]" placeholder="" value="" class="form-control">
            </div>
        </div>
        <div class="col-2">
            <div class="input-group">
                <button class="btn btn-danger" data-operate="delSelect" style="outline:none">删除</button>
            </div>
        </div>
    </div>
</script>
<!--Modal结算模板-->
<script id="settlementDiv" type="text/html">
    <form id="settlementForm" disabled="true">
        <fieldset>
            <input type="hidden" name="id" value="<%= dataArr.id %>">
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">期数</span>
                        </div>
                        <input disabled type="text" placeholder="" value="<%= dataArr.period %>" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 15px">
                <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">标题</span>
                        </div>
                        <input disabled type="text" placeholder="请输入标题" value="<%= dataArr.title %>" class="form-control">
                    </div>
                </div>
            </div>
            <% for (var j = 0; j < itemArr.length; j++) { %>
            <% if (itemArr[j].isAnswer==1) { %>
            <div class="form-row itemRow" style="margin-bottom: 15px">
                <div class="col-9">
                    <div class="input-group singItemSelect">
                        <div class="input-group-prepend">
                            <span class="input-group-text">选项<%= j+1 %></span>
                        </div>
                        <input type="hidden"  placeholder="" value="<%= itemArr[j].id %>" class="form-control itemId">
                        <input disabled type="text" placeholder="" value="<%= itemArr[j].title %>" class="form-control">
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group">
                        <input type="button" class="btn btn-primary" data-operate="setAnswer" style="outline:none" value="设为答案">
                    </div>
                </div>
            </div>
            <% }else{ %>
            <div class="form-row itemRow" style="margin-bottom: 15px">
                <div class="col-9">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">选项<%= j+1 %></span>
                        </div>
                        <input type="hidden"  placeholder="" value="<%= itemArr[j].id %>" class="form-control itemId">
                        <input disabled type="text" placeholder="" value="<%= itemArr[j].title %>" class="form-control">
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group">
                        <input type="button" class="btn btn-primary" data-operate="setAnswer" style="outline:none" value="设为答案">
                    </div>
                </div>
            </div>
            <% } %>
            <!--<div class="form-row" style="margin-bottom: 15px">-->
                <!--<div class="col-12">-->
                    <!--<div class="input-group">-->
                        <!--<div class="input-group-border">-->
                            <!--<div class="custom-control custom-radio custom-control-inline">-->
                                <!--<input type="radio" id="order_<%= j %>" name="itemId" class="custom-control-input" value="<%= itemArr[j].id %>" checked>-->
                                <!--<label class="custom-control-label" for="order_<%= j %>"><%= itemArr[j].title %></label>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <% } %>
        </fieldset>
    </form>
</script>
<script data-main="/public/js/module/thinking/predictFuture"></script>
@@include('../../inc-footer.html')