<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user"><img style="display: inline-block;width:50px;height: 50px" class="app-sidebar__user-avatar" src="http://xn--0zwv61a3umlc.xn--tfr330an9v.com/public/img/background/newlist-header.png" alt="User Image">
        <div>
            <p class="app-sidebar__user-name"></p>
            <p class="app-sidebar__user-designation">管理员</p>
        </div>
    </div>
    <ul class="app-menu">
        <li class="treeview">
            <a class="app-menu__item" href="#" data-toggle="treeview">
                <i class="app-menu__icon fa fa-laptop"></i>
                <span class="app-menu__label">会员中心</span>
                <i class="treeview-indicator fa fa-angle-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a class="three_item common-item" href="@@HOSTview/account/user.html"><i class="icon fa fa-circle-o"></i>会员管理</a>
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a class="app-menu__item" href="#" data-toggle="treeview">
                <i class="app-menu__icon fa fa-laptop"></i>
                <span class="app-menu__label">带货笔记</span>
                <i class="treeview-indicator fa fa-angle-right"></i>
            </a>
            <ul class="treeview-menu">
                <li class="three_menu">
                    <a class="three_item common-item" href="@@HOSTview/mall/taobaoBindRequest.html"><i class="icon fa fa-circle-o"></i>会员运营号绑定申请</a>
                </li>
                <li class="three_menu">
                    <a class="three_item common-item" href="@@HOSTview/mall/userWxMessage.html"><i class="icon fa fa-circle-o"></i>微信公众号消息</a>
                </li>
                <li class="three_menu">
                    <a class="three_item common-item" href="@@HOSTview/mall/userRecommend.html"><i class="icon fa fa-circle-o"></i>好物推荐申请</a>
                </li>
                <li class="three_menu">
                    <a class="three_item common-item" href="@@HOSTview/mall/taobaoUserSignUpLog.html"><i class="icon fa fa-circle-o"></i>会员签约日志列表</a>
                </li>
                <li class="three_menu">
                    <a class="three_item common-item" href="@@HOSTview/account/distributors.html"><i class="icon fa fa-circle-o"></i>分销商管理</a>
                </li>
                <li class="three_menu">
                    <a class="three_item common-item" href="@@HOSTview/system/guestBook.html"><i class="icon fa fa-circle-o"></i>留言板</a>
                </li>
                <li class="three_menu">
                    <a class="three_item common-item" href="@@HOSTview/mall/order.html"><i class="icon fa fa-circle-o"></i>订单管理</a>
                </li>
                <li class="three_menu">
                    <a class="three_item common-item" href="@@HOSTview/mall/banner.html"><i class="icon fa fa-circle-o"></i>banner管理</a>
                </li>
                <li class="three_menu">
                    <a class="three_item common-item" href="@@HOSTview/mall/images.html"><i class="icon fa fa-circle-o"></i>推广海报管理</a>
                </li>
                <li class="three_menu">
                    <a class="three_item common-item" href="@@HOSTview/mall/userCertification.html"><i class="icon fa fa-circle-o"></i>用户认证信息</a>
                </li>
                <li class="three_menu">
                    <a class="three_item common-item" href="@@HOSTview/mall/userCashOutRequest.html"><i class="icon fa fa-circle-o"></i>用户提现申请</a>
                </li>
                <li class="three_menu">
                    <a class="three_item common-item" href="@@HOSTview/tool/searchMaterial.html"><i class="icon fa fa-circle-o"></i>工具管理</a>
                </li>
                <li class="three_menu">
                    <a class="app-menu__item three_menu_item" href="#">
                        <i class="app-menu__icon fa fa-list-ul"></i>
                        <span class="app-menu__label">主播管理</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <ul class="three_list">
                        <li><a class="three_item common-item" href="@@HOSTview/account/anchor.html"><i class="icon fa fa-circle-o"></i>主播管理</a></li>
                        <li><a class="three_item common-item" href="@@HOSTview/account/anchorTag.html"><i class="icon fa fa-circle-o"></i>标签管理</a></li>
                        <li><a class="three_item common-item" href="@@HOSTview/account/anchorGoodsDate.html"><i class="icon fa fa-circle-o"></i>主播带货日期管理</a></li>
                        <li><a class="three_item common-item" href="@@HOSTview/account/anchorCompleteRecord.html"><i class="icon fa fa-circle-o"></i>主播完成记录</a></li>
                    </ul>
                </li>
                <li class="three_menu">
                    <a class="app-menu__item three_menu_item" href="#">
                        <i class="app-menu__icon fa fa-list-ul"></i>
                        <span class="app-menu__label">商品管理</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <ul class="three_list">
                        <li><a class="three_item common-item" href="@@HOSTview/mall/shop.html"><i class="icon fa fa-circle-o"></i>店铺管理</a></li>
                        <li><a class="three_item common-item" href="@@HOSTview/mall/category.html"><i class="icon fa fa-circle-o"></i>分类管理</a></li>
                        <li><a class="three_item common-item" href="@@HOSTview/mall/goods.html"><i class="icon fa fa-circle-o"></i>商品管理</a></li>
                    </ul>
                </li>
                <li class="three_menu">
                    <a class="app-menu__item three_menu_item" href="#">
                        <i class="app-menu__icon fa fa-list-ul"></i>
                        <span class="app-menu__label">排行榜管理</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <ul class="three_list" id="rankingDiv">

                    </ul>
                </li>
                <li class="three_menu">
                    <a class="app-menu__item three_menu_item" href="#">
                        <i class="app-menu__icon fa fa-list-ul"></i>
                        <span class="app-menu__label">淘宝管理</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <ul class="three_list">
                        <li><a class="three_item common-item" href="@@HOSTview/mall/categoryRelation.html"><i class="icon fa fa-circle-o"></i>淘宝分类管理</a></li>
                        <li><a class="three_item common-item" href="@@HOSTview/mall/taoSearch.html"><i class="icon fa fa-circle-o"></i>淘宝搜索关键字</a></li>
                        <li><a class="three_item common-item" href="@@HOSTview/mall/sysSearch.html"><i class="icon fa fa-circle-o"></i>系统搜索关键字</a></li>
                    </ul>
                </li>
                <li class="three_menu">
                    <a class="app-menu__item three_menu_item" href="#">
                        <i class="app-menu__icon fa fa-list-ul"></i>
                        <span class="app-menu__label">投票</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <ul class="three_list">
                        <li><a class="three_item common-item" href="@@HOSTview/account/expectAnchorVote.html"><i class="icon fa fa-circle-o"></i>主播投票管理</a></li>
                        <li><a class="three_item common-item" href="@@HOSTview/account/expectAnchorVoteUser.html"><i class="icon fa fa-circle-o"></i>用户投票日志</a></li>
                    </ul>
                </li>
                <li class="three_menu">
                    <a class="app-menu__item three_menu_item" href="#">
                        <i class="app-menu__icon fa fa-list-ul"></i>
                        <span class="app-menu__label">报表</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <ul class="three_list">
                        <li><a class="three_item common-item" href="@@HOSTview/mall/goodsClickStat.html"><i class="icon fa fa-circle-o"></i>商品购买点击报表</a></li>
                        <li><a class="three_item common-item" href="@@HOSTview/mall/rankingClickStat.html"><i class="icon fa fa-circle-o"></i>排行榜点击报表</a></li>
                    </ul>
                </li>
                <li class="three_menu">
                    <a class="app-menu__item three_menu_item" href="#">
                        <i class="app-menu__icon fa fa-list-ul"></i>
                        <span class="app-menu__label">主题带货</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <ul class="three_list">
                        <li><a class="three_item common-item" href="@@HOSTview/subject/subject.html"><i class="icon fa fa-circle-o"></i>主题带货管理</a></li>
                        <li><a class="three_item common-item" href="@@HOSTview/subject/subjectDetailClickStat.html"><i class="icon fa fa-circle-o"></i>主题商品报表</a></li>
                        <li><a class="three_item common-item" href="@@HOSTview/subject/subjectClickStat.html"><i class="icon fa fa-circle-o"></i>主题报表</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a class="app-menu__item" href="#" data-toggle="treeview">
                <i class="app-menu__icon fa fa-laptop"></i>
                <span class="app-menu__label">系统管理</span>
                <i class="treeview-indicator fa fa-angle-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a class="treeview-item common-item" href="@@HOSTview/account/admin.html"><i class="icon fa fa-circle-o"></i>管理员管理</a></li>
                <li><a class="treeview-item common-item" href="@@HOSTview/system/role.html"><i class="icon fa fa-circle-o"></i>角色管理</a></li>
                <li><a class="treeview-item common-item" href="@@HOSTview/system/module.html"><i class="icon fa fa-circle-o"></i>模块管理</a></li>
                <li><a class="treeview-item common-item" href="@@HOSTview/system/warn.html"><i class="icon fa fa-circle-o"></i>警告信息</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a class="app-menu__item" href="#" data-toggle="treeview">
                <i class="app-menu__icon fa fa-laptop"></i>
                <span class="app-menu__label">好物商城</span>
                <i class="treeview-indicator fa fa-angle-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a class="treeview-item common-item" href="@@HOSTview/store/supplier.html"><i class="icon fa fa-circle-o"></i>供应商管理</a></li>
                <li><a class="treeview-item common-item" href="@@HOSTview/store/express.html"><i class="icon fa fa-circle-o"></i>快递费管理</a></li>
                <li><a class="treeview-item common-item" href="@@HOSTview/store/expressCompany.html"><i class="icon fa fa-circle-o"></i>快递公司管理</a></li>
                <li><a class="treeview-item common-item" href="@@HOSTview/store/label.html"><i class="icon fa fa-circle-o"></i>标签管理</a></li>
                <li><a class="treeview-item common-item" href="@@HOSTview/store/category.html"><i class="icon fa fa-circle-o"></i>分类管理</a></li>
                <li><a class="treeview-item common-item" href="@@HOSTview/store/goods.html"><i class="icon fa fa-circle-o"></i>商品管理</a></li>
                <li><a class="treeview-item common-item" href="@@HOSTview/store/order.html"><i class="icon fa fa-circle-o"></i>订单管理</a></li>
                <li><a class="treeview-item common-item" href="@@HOSTview/store/refund.html"><i class="icon fa fa-circle-o"></i>退款申请管理</a></li>
                <li><a class="treeview-item common-item" href="@@HOSTview/store/afterSale.html"><i class="icon fa fa-circle-o"></i>售后管理</a></li>
                <li><a class="treeview-item common-item" href="@@HOSTview/store/orderSubmitSupplier.html"><i class="icon fa fa-circle-o"></i>供应商接单情况</a></li>
                <li><a class="treeview-item common-item" href="@@HOSTview/store/commission.html"><i class="icon fa fa-circle-o"></i>推广佣金管理</a></li>
                <li><a class="treeview-item common-item" href="@@HOSTview/store/saleCommission.html"><i class="icon fa fa-circle-o"></i>销售佣金管理</a></li>
                <li><a class="treeview-item common-item" href="@@HOSTview/store/images.html"><i class="icon fa fa-circle-o"></i>推广海报管理</a></li>
                <li><a class="treeview-item common-item" href="@@HOSTview/store/userCertification.html"><i class="icon fa fa-circle-o"></i>用户认证信息</a></li>
                <li><a class="treeview-item common-item" href="@@HOSTview/store/userCashOutRequest.html"><i class="icon fa fa-circle-o"></i>用户提现申请</a></li>
                <li><a class="treeview-item common-item" href="@@HOSTview/store/robotRule.html"><i class="icon fa fa-circle-o"></i>机器人规则管理</a></li>
                <li><a class="treeview-item common-item" href="@@HOSTview/store/mallCashCoupon.html"><i class="icon fa fa-circle-o"></i>现金券管理</a></li>
                <li><a class="treeview-item common-item" href="@@HOSTview/store/banner.html"><i class="icon fa fa-circle-o"></i>banner管理</a></li>
                <li><a class="treeview-item common-item" href="@@HOSTview/store/brand.html"><i class="icon fa fa-circle-o"></i>品牌管理</a></li>
            </ul>
        </li>
    </ul>
</aside>
<script id="rankingItem" type="text/html">
    <li><a class="treeview-item common-item" href="@@HOSTview/ranking/rankingList.html"><i class="icon fa fa-circle-o"></i>排行榜管理</a></li>
    <li><a class="treeview-item common-item" href="@@HOSTview/ranking/rankingCompleteRecord.html"><i class="icon fa fa-circle-o"></i>排行榜完成记录</a></li>
    <% for(var i=0;i < dataArr.length;i++){ %>
    <li><a class="treeview-item common-item" href="@@HOSTview/ranking/ranking.html?id=<%= dataArr[i].id %>"><i class="icon fa fa-circle-o"></i> <%= dataArr[i].title %> </a></li>
    <% } %>
</script>
<script id="menuItem" type="text/html">
    <% for(var i=0;i < data.length;i++){ %>
    <li class="treeview">
        <a class="app-menu__item" href="#" data-toggle="treeview">
            <i class="app-menu__icon fa fa-laptop"></i>
            <span class="app-menu__label"><%= data[i].title %></span>
            <i class="treeview-indicator fa fa-angle-right"></i>
        </a>
        <ul class="treeview-menu">
            <% for(var j=0;j < data[i].child.length;j++){ %>
            <% if(data[i].child[j].child){ %>
            <li class="three_menu">
                <a class="app-menu__item three_menu_item" href="#">
                    <i class="app-menu__icon fa fa-list-ul"></i>
                    <span class="app-menu__label"><%= data[i].child[j].title %></span>
                    <i class="fa fa-angle-right"></i>
                </a>
                <ul class="three_list">
                    <% for(var k=0;k < data[i].child[j].child.length;k++){ %>
                    <li><a class="three_item common-item" href="@@HOSTview/<%= data[i].child[j].child[k].url %>"><i class="icon fa fa-circle-o"></i><%= data[i].child[j].child[k].title %></a></li>
                    <% } %>
                </ul>
            </li>
            <% }else{ %>
            <li class="three_menu">
                <a class="three_item common-item" href="@@HOSTview/<%= data[i].child[j].url %>"><i class="icon fa fa-circle-o"></i><%= data[i].child[j].title %></a>
            </li>
            <% } %>
            <% } %>
        </ul>
    </li>
    <% } %>
</script>