<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user"><img style="display: inline-block;width:50px;height: 50px" class="app-sidebar__user-avatar" src="http://xn--0zwv61a3umlc.xn--tfr330an9v.com/public/img/background/newlist-header.png" alt="User Image">
        <div>
            <p class="app-sidebar__user-name"></p>
            <p class="app-sidebar__user-designation">管理员</p>
        </div>
    </div>
    <ul class="app-menu">
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">会员管理</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
                <li><a class="treeview-item common-item" href="@@HOSTview/account/user.html"><i class="icon fa fa-circle-o"></i> 会员管理</a></li>
                <!--<li><a class="treeview-item" href="@@HOSTview/account/distributors.html"><i class="icon fa fa-circle-o"></i> 分销商管理</a></li>-->
            </ul>
        </li>
        <li class="treeview">
            <a class="app-menu__item" href="#" data-toggle="treeview">
                <i class="app-menu__icon fa fa-laptop"></i>
                <span class="app-menu__label">带货笔记</span>
                <i class="treeview-indicator fa fa-angle-right"></i>
            </a>
            <ul class="treeview-menu">
                <li class="three_menu">
                    <a class="three_item common-item" href="@@HOSTview/account/distributors.html"><i class="icon fa fa-circle-o"></i> 分销商管理</a>
                </li>
                <li class="three_menu">
                    <a class="three_item common-item" href="@@HOSTview/system/guestBook.html"><i class="icon fa fa-circle-o"></i> 留言板</a>
                </li>
                <li class="three_menu">
                    <a class="app-menu__item three_menu_item" href="#">
                        <i class="app-menu__icon fa fa-laptop"></i>
                        <span class="app-menu__label">主播管理</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <ul class="three_list">
                        <li><a class="three_item common-item" href="@@HOSTview/account/anchor.html"><i class="icon fa fa-circle-o"></i> 主播管理</a></li>
                        <li><a class="three_item common-item" href="@@HOSTview/account/anchorTag.html"><i class="icon fa fa-circle-o"></i> 标签管理</a></li>
                        <li><a class="three_item common-item" href="@@HOSTview/account/anchorGoodsDate.html"><i class="icon fa fa-circle-o"></i> 主播带货日期管理</a></li>
                        <li><a class="three_item common-item" href="@@HOSTview/account/anchorCompleteRecord.html"><i class="icon fa fa-circle-o"></i> 主播完成记录</a></li>
                    </ul>
                </li>
                <li class="three_menu">
                    <a class="app-menu__item three_menu_item" href="#">
                        <i class="app-menu__icon fa fa-laptop"></i>
                        <span class="app-menu__label">商品管理</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <ul class="three_list">
                        <li><a class="three_item common-item" href="@@HOSTview/mall/shop.html"><i class="icon fa fa-circle-o"></i> 店铺管理</a></li>
                        <li><a class="three_item common-item" href="@@HOSTview/mall/category.html"><i class="icon fa fa-circle-o"></i> 分类管理</a></li>
                        <li><a class="three_item common-item" href="@@HOSTview/mall/goods.html"><i class="icon fa fa-circle-o"></i> 商品管理</a></li>
                    </ul>
                </li>
                <li class="three_menu">
                    <a class="app-menu__item three_menu_item" href="#">
                        <i class="app-menu__icon fa fa-laptop"></i>
                        <span class="app-menu__label">排行榜管理</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <ul class="three_list" id="rankingDiv">

                    </ul>
                </li>
                <li class="three_menu">
                    <a class="app-menu__item three_menu_item" href="#">
                        <i class="app-menu__icon fa fa-laptop"></i>
                        <span class="app-menu__label">淘宝管理</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <ul class="three_list">
                        <li><a class="three_item common-item" href="@@HOSTview/mall/categoryRelation.html"><i class="icon fa fa-circle-o"></i> 淘宝分类管理</a></li>
                        <li><a class="three_item common-item" href="@@HOSTview/mall/taoSearch.html"><i class="icon fa fa-circle-o"></i> 淘宝搜索关键字</a></li>
                        <li><a class="three_item common-item" href="@@HOSTview/mall/sysSearch.html"><i class="icon fa fa-circle-o"></i> 系统搜索关键字</a></li>
                    </ul>
                </li>
                <li class="three_menu">
                    <a class="app-menu__item three_menu_item" href="#">
                        <i class="app-menu__icon fa fa-laptop"></i>
                        <span class="app-menu__label">投票</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <ul class="three_list">
                        <li><a class="three_item common-item" href="@@HOSTview/account/expectAnchorVote.html"><i class="icon fa fa-circle-o"></i> 主播投票管理</a></li>
                        <li><a class="three_item common-item" href="@@HOSTview/account/expectAnchorVoteUser.html"><i class="icon fa fa-circle-o"></i> 用户投票日志</a></li>
                    </ul>
                </li>
                <li class="three_menu">
                    <a class="app-menu__item three_menu_item" href="#">
                        <i class="app-menu__icon fa fa-laptop"></i>
                        <span class="app-menu__label">好物商城</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <ul class="three_list">
                        <li><a class="three_item common-item" href="@@HOSTview/store/supplier.html"><i class="icon fa fa-circle-o"></i> 供应商管理</a></li>
                        <li><a class="three_item common-item" href="@@HOSTview/store/express.html"><i class="icon fa fa-circle-o"></i> 快递费管理</a></li>
                        <li><a class="three_item common-item" href="@@HOSTview/store/label.html"><i class="icon fa fa-circle-o"></i> 标签管理</a></li>
                        <li><a class="three_item common-item" href="@@HOSTview/store/goods.html"><i class="icon fa fa-circle-o"></i> 商品管理</a></li>
                        <li><a class="three_item common-item" href="@@HOSTview/store/order.html"><i class="icon fa fa-circle-o"></i> 订单管理</a></li>
                        <li><a class="three_item common-item" href="@@HOSTview/store/refund.html"><i class="icon fa fa-circle-o"></i> 退款申请管理</a></li>
                        <li><a class="three_item common-item" href="@@HOSTview/store/afterSale.html"><i class="icon fa fa-circle-o"></i> 售后管理</a></li>
                        <li><a class="three_item common-item" href="@@HOSTview/store/orderSubmitSupplier.html"><i class="icon fa fa-circle-o"></i> 供应商接单情况</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <!--<li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">主播管理</span><i class="treeview-indicator fa fa-angle-right"></i></a>-->
            <!--<ul class="treeview-menu">-->
                <!--<li><a class="treeview-item" href="@@HOSTview/account/anchor.html"><i class="icon fa fa-circle-o"></i> 主播管理</a></li>-->
                <!--<li><a class="treeview-item" href="@@HOSTview/account/anchorTag.html"><i class="icon fa fa-circle-o"></i> 标签管理</a></li>-->
                <!--<li><a class="treeview-item" href="@@HOSTview/account/anchorGoodsDate.html"><i class="icon fa fa-circle-o"></i> 主播带货日期管理</a></li>-->
                <!--<li><a class="treeview-item" href="@@HOSTview/account/anchorCompleteRecord.html"><i class="icon fa fa-circle-o"></i> 主播完成记录</a></li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--<li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">商品管理</span><i class="treeview-indicator fa fa-angle-right"></i></a>-->
            <!--<ul class="treeview-menu">-->
                <!--<li><a class="treeview-item" href="@@HOSTview/mall/shop.html"><i class="icon fa fa-circle-o"></i> 店铺管理</a></li>-->
                <!--<li><a class="treeview-item" href="@@HOSTview/mall/category.html"><i class="icon fa fa-circle-o"></i> 分类管理</a></li>-->
                <!--<li><a class="treeview-item" href="@@HOSTview/mall/goods.html"><i class="icon fa fa-circle-o"></i> 商品管理</a></li>-->
                <!--<li><a class="treeview-item" href="@@HOSTview/mall/goodsShortageRegistration.html"><i class="icon fa fa-circle-o"></i> 商品缺货登记</a></li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--<li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">排行榜管理</span><i class="treeview-indicator fa fa-angle-right"></i></a>-->
            <!--<ul class="treeview-menu" id="rankingDiv">-->

            <!--</ul>-->
        <!--</li>-->
        <!--<li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">淘宝管理</span><i class="treeview-indicator fa fa-angle-right"></i></a>-->
            <!--<ul class="treeview-menu">-->
                <!--<li><a class="treeview-item" href="@@HOSTview/mall/categoryRelation.html"><i class="icon fa fa-circle-o"></i> 淘宝分类管理</a></li>-->
                <!--<li><a class="treeview-item" href="@@HOSTview/mall/taoSearch.html"><i class="icon fa fa-circle-o"></i> 淘宝搜索关键字</a></li>-->
                <!--<li><a class="treeview-item" href="@@HOSTview/mall/sysSearch.html"><i class="icon fa fa-circle-o"></i> 系统搜索关键字</a></li>-->
            <!--</ul>-->
        <!--</li>-->
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">系统管理</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
                <li><a class="treeview-item common-item" href="@@HOSTview/account/admin.html"><i class="icon fa fa-circle-o"></i> 管理员管理</a></li>
                <li><a class="treeview-item common-item" href="@@HOSTview/system/warn.html"><i class="icon fa fa-circle-o"></i> 警告信息</a></li>
            </ul>
        </li>
        <!--<li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">投票</span><i class="treeview-indicator fa fa-angle-right"></i></a>-->
            <!--<ul class="treeview-menu">-->
                <!--<li><a class="treeview-item" href="@@HOSTview/account/expectAnchorVote.html"><i class="icon fa fa-circle-o"></i> 主播投票管理</a></li>-->
                <!--<li><a class="treeview-item" href="@@HOSTview/account/expectAnchorVoteUser.html"><i class="icon fa fa-circle-o"></i> 用户投票日志</a></li>-->
            <!--</ul>-->
        <!--</li>-->
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">报表</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
                <li><a class="treeview-item common-item" href="@@HOSTview/mall/goodsClickStat.html"><i class="icon fa fa-circle-o"></i> 商品购买点击报表</a></li>
                <li><a class="treeview-item common-item" href="@@HOSTview/mall/rankingClickStat.html"><i class="icon fa fa-circle-o"></i> 排行榜点击报表</a></li>
            </ul>
        </li>
        <!--<li class="treeview">-->
            <!--<a class="treeview-item" href="@@HOSTview/system/guestBook.html"><i class="icon fa fa-circle-o"></i> 留言板</a>-->
        <!--</li>-->
        <!--<li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">好物商城</span><i class="treeview-indicator fa fa-angle-right"></i></a>-->
            <!--<ul class="treeview-menu">-->
                <!--<li><a class="treeview-item" href="@@HOSTview/store/supplier.html"><i class="icon fa fa-circle-o"></i> 供应商管理</a></li>-->
                <!--<li><a class="treeview-item" href="@@HOSTview/store/express.html"><i class="icon fa fa-circle-o"></i> 快递费管理</a></li>-->
                <!--<li><a class="treeview-item" href="@@HOSTview/store/label.html"><i class="icon fa fa-circle-o"></i> 标签管理</a></li>-->
                <!--<li><a class="treeview-item" href="@@HOSTview/store/category.html"><i class="icon fa fa-circle-o"></i> 分类管理</a></li>-->
                <!--<li><a class="treeview-item" href="@@HOSTview/store/goods.html"><i class="icon fa fa-circle-o"></i> 商品管理</a></li>-->
                <!--<li><a class="treeview-item" href="@@HOSTview/store/order.html"><i class="icon fa fa-circle-o"></i> 订单管理</a></li>-->
                <!--<li><a class="treeview-item" href="@@HOSTview/store/refund.html"><i class="icon fa fa-circle-o"></i> 退款申请管理</a></li>-->
                <!--<li><a class="treeview-item" href="@@HOSTview/store/afterSale.html"><i class="icon fa fa-circle-o"></i> 售后管理</a></li>-->
                <!--<li><a class="treeview-item" href="@@HOSTview/store/orderSubmitSupplier.html"><i class="icon fa fa-circle-o"></i> 供应商接单情况</a></li>-->
            <!--</ul>-->
        <!--</li>-->
    </ul>
</aside>
<script id="rankingItem" type="text/html">
    <li><a class="treeview-item common-item" href="@@HOSTview/ranking/rankingList.html"><i class="icon fa fa-circle-o"></i> 排行榜管理 </a></li>
    <li><a class="treeview-item common-item" href="@@HOSTview/ranking/rankingCompleteRecord.html"><i class="icon fa fa-circle-o"></i> 排行榜完成记录</a></li>
    <% for(var i=0;i < dataArr.length;i++){ %>
    <li><a class="treeview-item common-item" href="@@HOSTview/ranking/ranking.html?id=<%= dataArr[i].id %>"><i class="icon fa fa-circle-o"></i> <%= dataArr[i].title %> </a></li>
    <% } %>
</script>